<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I majored in Marketing and Technology Management at Indiana University's Kelley School of Business with an Individualized Minor in Videography and Design. I have applied my passion for marketing, entrepreneurship, and innovation in a number of leadership roles on campus, in the community, and in the workplace. I also avidly follow the latest technology trends and have an aptitude for translating technical specifications into business requirements. 
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
