<header class="intro">
    
     <div>
         <img style="float: left; margin: 0px 15px 15px 0px; max-width:20%; height:auto;" id="zanderheadshot" src = "https://zroeschen.github.io/img/circleheadshotfinal.png"> 
    </div>
 
  <h2 class="intro__tagline">I'm
    <span class="name">Zander Roeschen</span>, a design-minded technology consultant, focused on building seamless experiences
  </h2>
    
   

   

  <h3 class="intro__contact">
        <span>Get in touch </span>
        <span class="emoji pointer"></span>
      <span>
          <a href="mailto:zroeschen@gmail.com" target="_blank" class="highlight-link">zroeschen@gmail.com</a>
      </span>
  </h3>
</header>
